.carousel-parent {
    width: 60%;
    margin: auto;
    display: flex;
}

#carousel-next {
}

.carousel-container {
    cursor: grab;
    overflow: hidden;
    margin: auto;
    margin-bottom: 5%;
    padding-top: 2%;
    width: 60vw;
    height: 50vh;
}

.horizontal-carousel {
    display: flex;
    width: 100vw;
    gap: 20px;
}

.vertical-carousel {
    display: block;
    height: 40vh;
    min-height: 400px;
}

.example-card {
    text-align: center;
    border: 2px solid black;
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
}
