.carousel-container {
    display: flex;
    touch-action: none;
    user-select: none;
}

.carousel {
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid black;
    border-radius: 15px;
    height: 500px;
    width: 33vw;
}

.item {
    position: absolute;
    margin-top: 10%;
}

.carousel1 {
    border: 2px solid black;
    height: 400px;
    width: 33vw;
    display: flex;
    position: relative;
}

.carousel2 {
    border: 2px solid black;
    height: 400px;
    width: 33vw;
    display: flex;
    position: relative;
}
