/* Registration.css */

.registration-form {
    max-width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.site-form-item-icon {
    color: rgba(0, 0, 0, 0.25);
}

.login-form-button {
    width: 100%;
    margin-top: 10px;
}

.registration-title {
    text-align: center;
    font-size: 24px;
    color: #1890ff; 
}

.login-redirect {
    padding: 1%;
}