.gig-card-card {
  margin: 20px; /* Adjust margin as needed */
  padding: 20px; /* Adjust padding as needed */
  border: 1px solid #ddd; /* Light grey border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle elevation effect */
  max-width: 500px;
  max-height: 500px;
}

.gig-container-card {
  display: inline-flex; /* Use inline-flex to display them next to each other */
  flex-direction: row;
  align-items: center;
}

.gig-button {
  color: black;
}
  