.slide-title {
    text-align: center;
}

.slide-container {
    display: flex;
    touch-action: none;
    user-select: none;
    padding: 10px;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
}

.slide { 
    display: flex;
    position: relative;
    justify-content: center;
    border: 1px solid lightgray;
    border-radius: 15px;
    height: 500px;
    width: 66vw;
    overflow-x: hidden;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
}

.item {
    position: absolute;
    margin-top: 12%;
}

.left-arrow {
    position: absolute;
    color: #ea906c;
    border: 2px solid #030b2c;;
    border-radius: 50%;
    z-index: 99;
    margin-top: 35%;
    margin-left: -85%;
    opacity: 90%;
    border-color: #030b2c;
}

.right-arrow {
    position: absolute;
    color: #ea906c;
    border: 2px solid #030b2c;;
    border-radius: 50%;
    z-index: 99;
    margin-top: 35%;
    margin-right: -85%;
    opacity: 90%;
}

.right-arrow:hover,
.left-arrow:hover {
    opacity: 100%;
    background-color: #030b2c;
}

/* Headings - NEEDS WORK*/
/* .slide-type {
    font-size: large;
}
.slide-title {
    font-size: large;
} */


/* Media query for tablets and smaller screens */
@media only screen and (max-width: 880px) {
    .slide-container {
        flex-direction: column; 
        align-items: center; 
        margin-bottom: 1px;
    }

    .slide,
    .slide1,
    .slide2 {
        width: 100%; 
        border-radius: 0;
        margin: 5px;
        margin-bottom: 5px; 
        border-radius: 10px;
    }

    .slide-type {
        font-size: 1.5em; 
    }
} 

@media only screen and (max-width: 550px) {
    .slide-container {
        margin-top: 10px;
        margin-bottom: none;
        align-items: center;
        margin-top: 10px;
    }

    .slide,
    .slide1,
    .slide2 {
        margin-bottom: none; 

    }

    .item {
        margin-top: 15%;
    }
}