/* catCard carousel */
.carousel {
    display: flex;
}

.cat-card-container {
    max-width: 700x; 
    margin: 10px; 
    display: flex;
    touch-action: none;
    user-select: none;
    padding: 10px;
    justify-content: space-around;
    margin: 10px;
    gap: 10px;
}

.carousel-inner {
    display: flex;
}

.cat-card-section-title{
    text-align: center;
}

/* Media Queries */